.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .content-container {
    margin-top: 20px;
    width: 80%; /* Adjust the width as needed */
    max-width: 800px; /* Adjust the maximum width as needed */
  }
  
  .textbox-container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    resize: none;
  }
  
  .glowing-textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  }
  .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .button-container button{
    padding: 15px;
    border-radius: 5px;
    justify-content: space-between;
    background-color: #0b016412;
    color: white;
    z-index: 1000;
  }

  .rn-btn :hover{
    color:  white;
  }

  .feedback-container textarea{
    width: 100%;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
  }
